@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Secular+One&display=swap');
*{
background-color: #E68E81;
font-family: 'Secular One', sans-serif;
}

p{
  padding: 10px;
  padding-top: 2px;
color: #75DAE6;
  padding-bottom: 10px;
    font-size: 20px;
}

h1{
  padding-top:20px;
  color: #75DAE6;
  font-size: 50px;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
h4{  
 position: relative;
bottom: 80px;
  color: #75DAE6;
 text-align: center;
  padding: 22px;
  padding-bottom: 10px;
  font-size: 20px;
  
}

.text{
  padding-top: 50px;
  font-size: 30px;
  color: white;
  position: relative;
bottom: 50px;

  
}

a {
  position: relative;
  font-size: 30px;
  color: white;
  text-decoration: none;
  
}
/* mouse over link */
a:hover {
  color: #a8dff4;
}

body {
  
  text-align: center;
  background-color: #E68E81;

}

button{
padding: 10px 44px;
  border: 3px solid #75DAE6; /* blooo */
border-radius: 15px;

}